[Unit]
Description=Literature Clock
After=multi-user.target

[Service]
RuntimeMaxSec=30s
Type=oneshot
ExecStart=/home/pi/literature-clock/.venv/bin/python /home/pi/literature-clock/main.py
WorkingDirectory=/home/pi/literature-clock
RemainAfterExit=true
User=pi

[Install]
WantedBy=multi-user.target