[Unit]
Description=Literature Clock
After=multi-user.target

[Service]
Type=oneshot
ExecStart=uv run /home/pi/literature-clock/main.py
WorkingDirectory=/home/pi/literature-clock
RemainAfterExit=true
User=pi

[Install]
WantedBy=multi-user.target